:root {
  --white: #FFF;
  --primary: #F59E0B;
  --beige: #eae1ca;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: rgb(47, 47, 47);
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}